body {
  margin: 0;
  color: #553e65;
  background-color: #edf0f2;
}
img {
  width: 80%;
}
.TaskItem__border {
  width: 100%;
  margin: 2vw;
  border-bottom: 4px #5c6f68 solid;
}

.TaskItem__card {
  background: #edf9f2;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  transition: all ease 500ms;
}
